.section-5 {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 800px;
    background-color: var(--branco-secundario);
}

.section-5 div h1 {
    color: var(--verde);
    font-size: 60px;
    font-weight: 600;
    margin: 0 0 1em 1em;
}

.section-5-descricao {
    color: var(--verde-escuro);
    font-size: 25px;
    margin:  0 0 1em 3em;
    max-width: 900px;
}

.section-5-descricao b {
    font-weight: 600;
}

.section-5 img {
    height: auto;
    width: 700px;
    margin-right: 3em;
    border: 20px solid var(--verde-claro);
    border-radius: 50px;
}