.section-3 {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 800px;
    background-color: var(--branco-secundario);
}

.section-3 div h1 {
    color: var(--verde);
    font-size: 60px;
    font-weight: 600;
    margin: 0 1em 1em 0;
}

.section-3-descricao {
    color: var(--verde-escuro);
    font-size: 25px;
    margin:  0 5em 1em 0;
    max-width: 1000px;
}

.section-3-descricao b {
    font-weight: 600;
}

.section-3 img {
    height: auto;
    width: 700px;
    margin-left: 3em;
    border: 20px solid var(--verde-claro);
    border-radius: 50px;
}